# 1. On server
!mysqldump -u root -p**** vacan_2015_05_09 | gzip > vacan_2016_02_10.sql.gz

# 2. Locally

scp ***@***.ru:/home/dimert/vacan_2016_01_18.sql.gz .

mysql -u root -p****
>> create database vacan_2016_01_18;

zcat vacan_2016_01_18.sql.gz | mysql -u root -p**** vacan_2016_01_18

# 3. Now process from db

In [6]:
import pymysql
import pandas as pd

In [7]:
conn = pymysql.connect(user='root', password='****', charset='utf8')

In [8]:
vacancies = pd.read_sql('select * from vacan_2016_01_18.vacancy;', conn)

In [9]:
vacancies.drop_duplicates('url', keep='last', inplace=True)

In [10]:
len(vacancies)

17446

In [11]:
vacancies.head()

,id,name,html,url,site,date
3,1413553876,Разработчик Ruby/Ruby on Rails,"<div class=""b-important b-vacancy-info""><table...",http://irkutsk.hh.ru/vacancy/11833695?query=%D...,hh.ru,2014-10-17 13:51:12
4,1413553877,Ведущий программист 1 С/Руководитель направлен...,"<div class=""b-important b-vacancy-info""><table...",http://irkutsk.hh.ru/vacancy/11926858?query=%D...,hh.ru,2014-10-17 13:51:12
5,1413553878,Java-разработчик,"<div class=""b-important b-vacancy-info""><table...",http://irkutsk.hh.ru/vacancy/11968661?query=%D...,hh.ru,2014-10-17 13:51:12
8,1413553881,IOS разработчик,"<div class=""b-important b-vacancy-info""><table...",http://irkutsk.hh.ru/vacancy/11799508?query=%D...,hh.ru,2014-10-17 13:51:12
9,1413553882,Программист PHP (web-разработка; back-end),"<div class=""b-important b-vacancy-info""><table...",http://irkutsk.hh.ru/vacancy/11639762?query=%D...,hh.ru,2014-10-17 13:51:12

In [12]:
vacancies.to_csv('data/vacancies.csv', sep='|', index=False)