In [2]:
import pandas as pd
from IPython.display import display
from collections import Counter
import string

In [56]:
vacancies = pd.read_p('data/vacancies_stemmed.pickle')

In [57]:
vacancies.head()

,name_tokens,text_tokens,date,salary,currency
3,"[разработчик, ruby, ruby, on, rails]","[соста, распределен, команд, разрабатыва, сист...",2014-10-17 13:51:12,70000,rur
4,"[ведущ, программист, 1, руководител, направл, it]","[медицинск, сет, клиник, приглаша, работ, рабо...",2014-10-17 13:51:12,110000,rur
5,"[java, разработчик]","[обязан, участ, проект, компан, разработк, ана...",2014-10-17 13:51:12,40000,rur
8,"[ios, разработчик]","[привет, зовут, егор, 2011, год, созда, компан...",2014-10-17 13:51:12,120000,rur
9,"[программист, php, web, разработк, back, end]","[телекоммуникацион, компан, треб, программист,...",2014-10-17 13:51:12,80000,rur

In [58]:
def fix_tokens(tokens: list):
    for i in range(len(tokens)):
        if tokens[i] == 'с++': # rus
            tokens[i] = 'c++'
            continue
        if tokens[i] == 'с': # rus
            tokens[i] = 'c'
            continue

In [59]:
vacancies.name_tokens.apply(fix_tokens);

# Freq analysis

In [60]:
english_letters = set(string.ascii_lowercase)

In [61]:
counter = Counter()
vacancies.name_tokens.apply(counter.update);

In [63]:
professions = pd.DataFrame([item for item in counter.most_common() if len(item[0]) and item[0][0] in english_letters])
professions.columns = ['lang', 'cnt']

In [64]:
professions.drop(professions[professions.cnt < 2].index, inplace=True)

In [66]:
professions.head(10)

        lang   cnt
0        php  1870
1        web  1242
2  developer   994
3       java   835
4        c++   658
5          c   594
6        ios   503
7     senior   501
8   frontend   460
9    android   442