In [1]:
import pandas as pd
from IPython.display import display
from collections import Counter
import string

In [3]:
vacancies = pd.read_csv('data/vacancies_stemmed.csv', sep='|', header=0)

In [12]:
vacancies.text_tokens = vacancies.text_tokens.astype(str)
vacancies.name_tokens = vacancies.name_tokens.astype(str)

In [15]:
vacancies.head()

,name_tokens,text_tokens,date,salary,currency
0,ruby ruby on rails,"[соста, распределен, команд, разрабатыва, сист...",2014-10-17 13:51:12,70000,rur
1,ведущ 1 руководител направлен it,"[медицинск, сет, клиник, приглаша, работ, рабо...",2014-10-17 13:51:12,110000,rur
2,java,"[обязан, участ, проект, компан, разработк, ана...",2014-10-17 13:51:12,40000,rur
3,ios,"[привет, зовут, егор, 2011, год, созда, компан...",2014-10-17 13:51:12,120000,rur
4,php web back end,"[телекоммуникацион, компан, треб, php, постоя,...",2014-10-17 13:51:12,80000,rur

In [14]:
vacancies.text_tokens = vacancies.text_tokens.apply(lambda x: x.split())

In [16]:
vacancies.name_tokens = vacancies.name_tokens.apply(lambda x: x.split())

In [17]:
def fix_tokens(tokens: list):
    for i in range(len(tokens)):
        if tokens[i] == 'с++': # rus
            tokens[i] = 'c++'
            continue
        if tokens[i] == 'с': # rus
            tokens[i] = 'c'
            continue

In [18]:
vacancies.name_tokens.apply(fix_tokens);

# Freq analysis

In [19]:
english_letters = set(string.ascii_lowercase)

In [20]:
counter = Counter()
vacancies.name_tokens.apply(counter.update);

In [21]:
professions = pd.DataFrame([item for item in counter.most_common() if len(item[0]) and item[0][0] in english_letters])
professions.columns = ['lang', 'cnt']

In [22]:
professions.drop(professions[professions.cnt < 2].index, inplace=True)

In [23]:
professions.head(10)

       lang   cnt
0       php  1870
1       web  1242
2      java   835
3       c++   658
4         c   594
5       ios   503
6    senior   501
7  frontend   460
8   android   442
9       nan   420

In [24]:
vacancies.to_csv('data/vacancies_done.csv', sep='|', index=False)